.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 100%);
    transition: background-color 0.5s ease;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: #141414;
}

.netflixlogo {
    position: fixed;
    left: 20px;
    width: 80px;
}

.navbar-content {
    display: flex;
    margin-left: 7rem;
    flex: 1;
    justify-content: left;
}

.navbar-content h4 {
    font-weight: 400;
    color: aliceblue;
    padding: 0 1rem;
}

.avatar {
    position: fixed;
    right: 20px;
    width: 30px;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 10px;
    }

    .navbar-content {
        display: none;
    }

    .netflixlogo {
        width: 60px;
        position: relative;
    }

    .avatar {
        width: 25px;
        position: relative;
    }
}

@media (max-width: 480px) {
    .navbar-content h4 {
        font-size: 12px;
    }

    .netflixlogo {
        width: 50px;
    }

    .avatar {
        width: 20px;
    }
}
